In [1]:
from krmining.datasets import make_dummy_data_classification

# Make dataset

In [2]:
df = make_dummy_data_classification()

df.head()

    0  1
0  22  1
1  23  1
2  21  1
3  18  1
4  19  1

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       10 non-null     int64
 1   1       10 non-null     int64
dtypes: int64(2)
memory usage: 288.0 bytes