In [1]:
from krmining.datasets import make_fruit_sold_dummy_association_rules

# Make datasets

In [2]:
df = make_fruit_sold_dummy_association_rules()

df.head()

Description  apple  banana  mango  strawberry
InvoiceNo
1                1       1      1           0
2                1       1      1           1
3                0       1      1           1

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3 entries, 1 to 3
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   apple       3 non-null      int64
 1   banana      3 non-null      int64
 2   mango       3 non-null      int64
 3   strawberry  3 non-null      int64
dtypes: int64(4)
memory usage: 120.0 bytes